
<ol>
  <% @page.links.each do |link| %>
    <% if link.href != nil && link.text != nil%>
      <% url = link.href.gsub(/(.*)wow.com(.*)/,"") %>
      <% url = link.href.gsub(/(.*)wow.nextag.com(.*)/,"") %>
      <% url = url.gsub(/^(?!http(.*)$).*/,"") %>
      <% url = url.gsub(/(.*)aol.com(.*)/,"") %>
      <% text = link.text %>
      <% if url.length != 0 && text.length != 0 %>
        <li><%= url %></li>
      <% end %>
    <% end %>
  <% end %>
</ol>
